.org-src-container, .org-src-container * { font-family:monospace !important; }
.org-src-container { padding-top:10px !important; padding-bottom:10px !important; }
body { width:92% !important; max-width:92% !important; margin-left:4% !important; margin-right:4% !important; background:linear-gradient(0deg, #202020, #111) !important; color:#dfdfdf !important; border:1px solid black !important; } body #content { width:92% !important; min-width:92% !important; max-width:92% !important; margin-left:4% !important; margin-right:4% !important; } p { color:#efdfdf !important; }
html { background:#000 !important; }
.org-src-container pre { background:#221010 !important; border:1px solid #000 !important; border-radius:0px 0px 0px 0px !important; box-shadow:0 !important; }
pre { box-shadow:0 !important; font-size:1.3em !important; }
pre.src {
	letter-spacing:0.9pt !important;
	font-size:1.3em !important;
}
a:link, a, a:visited {
    color:#ffc8b8;
    text-decoration:none;
    letter-spacing:0.8pt !important;
	outline:0 !important;
}
a:hover, a:active {
    color:#ffdfdf;
    text-decoration:underline;
    letter-spacing:0.8pt !important;
	outline:0 !important;
}
a:focus {
	outline:0 !important;
}
table {
    width:90% !important;
    max-width:90% !important;
    margin-left:5% !important;
    margin-right:5% !important;
    background:rgba(0, 0, 0, 0.2) !important;
}
table thead tr th {
    font-weight:bold;
}
table thead tr th, table tbody tr td {
    border:2px solid #000;
    padding:15px !important;
    font-size:1.07em !important;
}
#text-table-of-contents ul li, #text-table-of-contents li {
    list-style-type:none !important;
	padding-top:6px;
	padding-bottom:6px;
}
#text-table-of-contents ul li a, #text-table-of-contents li a {
    font-size:1.17em !important;
}
pre span {
	font-family:monospace;
	letter-spacing:1.04pt !important;
}
#table-of-contents {
    float:right;
    width:20% !important;
    margin-left:1% !important;
    border:1px solid #000;
    padding-left:8px;
}
header center {
    padding-bottom:12px !important;
}
header center ul {
    padding-left:0px !important;
    width:100% !important;
    display:inline-block !important;
}
header center ul li {
    list-style-type:none !important;
    width:16% !important;
    float:left !important;
}
header center ul li a {
    width:100% !important;
    height:39px !important;
    min-height:39px !important;
    display:block !important;
}
.figure p img {
	display:inline;
	width:70%;
}
#postamble { display:none !important; }

#footer {
	padding-top:7px;
}
footer center p {
	font-size:0.8em !important;
}
footer center p.nav a {
	font-size:1.4em !important;
}

